# ── API Lambda ──────────────────────────────────────────────────────────────────
fastapi
mangum
sqlalchemy[asyncio]>=2.0.0
greenlet==3.0.3
asyncpg
psycopg2-binary==2.9.9
alembic
python-jose[cryptography]
httpx
python-multipart
orjson

# ── Scanner Lambda ──────────────────────────────────────────────────────────────
pandas==2.2.2
numpy==1.26.4
yfinance==0.2.40
tqdm
